---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=2114%20Bigelow%20Ave&citystatezip=Seattle,%20CO&rentzestimate=false&zws-id=<ZILLOW_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '003'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults
        xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd http://www.zillowstatic.com/vstatic/7b712f4/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>2114
        Bigelow Ave</address><citystatezip>Seattle, CO</citystatezip></request><message><text>Error:
        no exact match found for input address</text><code>508</code></message></SearchResults:searchresults><!--
        H:003  T:36ms  S:150  R:Mon May 18 09:44:06 PDT 2015  B:4.0.15316-release_20150506-quelea.3a71e50-CANDIDATE-040fc91-20150504.232930.3a71e50141702bbc82f14b5302e2b9a06fa41a63.20150505142027508-origin/release/20150506-quelea
        -->'
  recorded_at: Mon, 18 May 2015 16:44:06 GMT
recorded_with: VCR 2.9.3
