---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2114%20Bigelow%20Ave,%20Seattle,%20WA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2114",
                       "short_name" : "2114",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bigelow Avenue North",
                       "short_name" : "Bigelow Ave N",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "East Queen Anne",
                       "short_name" : "East Queen Anne",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
     [...]
