---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=C.I.A.%20general%20headquarters&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "General Office",
                       "short_name" : "General Office",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Percy Evens Road",
                       "short_name" : "Percy Evens Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Duliajan",
                       "short_name" : "Duliajan",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Dibrugarh",
                       "short_name" : "Dibrugarh",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Assam",
                       "short_name" : "AS",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "India",
                       "short_name" : "IN",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "786602",
                       "short_name" : "786602",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "General Office, Percy Evens Road, Duliajan, Assam 786602, India",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 27.355912,
                          "lng" : 95.31642789999999
                       },
                       "southwest" : {
                          "lat" : 27.3555524,
                          "lng" : 95.3153014
                       }
                    },
                    "location" : {
                       "lat" : 27.3557322,
                       "lng" : 95.3158646
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 27.3570811802915,
                          "lng" : 95.3172136302915
                       },
                       "southwest" : {
                          "lat" : 27.3543832197085,
                          "lng" : 95.31451566970848
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJZ_saXFNBPzcRYkosySdmoek",
                 "types" : [ "premise" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "General Office",
                       "short_name" : "General Office",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "General Office Road",
                       "short_name" : "General Office Rd",
        [...]
