---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepComps.htm?count=10&rentzestimate=false&zpid=48749425&zws-id=<ZILLOW_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '004'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><Comps:comps xsi:schemaLocation="http://www.zillow.com/static/xsd/Comps.xsd
        http://www.zillowstatic.com/vstatic/7b712f4/static/xsd/Comps.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:Comps="http://www.zillow.com/static/xsd/Comps.xsd"><request><zpid>48749425</zpid><count>10</count></request><message><text>Request
        successfully processed</text><code>0</code></message><response><properties><principal><zpid>48749425</zpid><links><homedetails>http://www.zillow.com/homedetails/2114-Bigelow-Ave-N-Seattle-WA-98109/48749425_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/2114-Bigelow-Ave-N-Seattle-WA-98109/48749425_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/48749425_zpid/</mapthishome><comparables>http://www.zillow.com/homes/comps/48749425_zpid/</comparables></links><address><street>2114
        Bigelow Ave N</street><zipcode>98109</zipcode><city>Seattle</city><state>WA</state><latitude>47.637933</latitude><longitude>-122.347938</longitude></address><taxAssessmentYear>2014</taxAssessmentYear><taxAssessment>1060000.0</taxAssessment><yearBuilt>1924</yearBuilt><lotSizeSqFt>4680</lotSizeSqFt><finishedSqFt>3470</finishedSqFt><bathrooms>3.0</bathrooms><bedrooms>4</bedrooms><lastSoldDate>11/26/2008</lastSoldDate><lastSoldPrice
        currency="USD">1025000</lastSoldPrice><zestimate><amount currency="USD">1386570</amount><last-updated>05/05/2015</last-updated><oneWeekChange
        deprecated="true"></oneWeekChange><valueChange duration="30" currency="USD">-1053</valueChange><valuationRange><low
        currency="USD">1303376</low><high currency="USD">1483630</high></valuationRange><percentile>95</percentile></zestimate><localRealEstate><region
        name="East Queen Anne" id="271856" type="neighborhood"><zindexValue>629,900</zindexValue><links><overview>http://www.zillow.com/local-info/WA-Seattle/East-Queen-Anne/r_271856/</overview><forSaleByOwner>http://www.zillow.com/east-queen-anne-seattle-wa/fsbo/</forSaleByOwner><forSale>http://www.zillow.com/east-queen-anne-seattle-wa/</forSale></links></region></localRealEstate></principal><comparables><comp
        score="12.0"><zpid>48953590</zpid><links><homedetails>http://www.zillow.com/homedetails/2606-Mayfair-Ave-N-Seattle-WA-98109/48953590_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/2606-Mayfair-Ave-N-Seattle-WA-98109/48953590_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/48953590_zpid/</mapthishome><comparables>ht[...]
