---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepComps.htm?count=20&rentzestimate=false&zpid=99999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '002'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><Comps:comps xsi:schemaLocation="http://www.zillow.com/static/xsd/Comps.xsd
        http://www.zillowstatic.com/vstatic/7b712f4/static/xsd/Comps.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:Comps="http://www.zillow.com/static/xsd/Comps.xsd"><request><zpid>99999999</zpid><count>20</count></request><message><text>Error:
        invalid or missing ZWSID parameter</text><code>2</code></message></Comps:comps><!--
        H:002  T:1ms  S:130  R:Fri May 08 04:15:04 PDT 2015  B:4.0.15316-release_20150506-quelea.3a71e50-CANDIDATE-040fc91-20150504.232930.3a71e50141702bbc82f14b5302e2b9a06fa41a63.20150505142027508-origin/release/20150506-quelea
        -->'
  recorded_at: Fri, 08 May 2015 11:15:05 GMT
recorded_with: VCR 2.9.3
